<template>
	<div class="body">
		<div class="code-area">
			<span style="color: #777;font-style:italic;">
				// 401 you have no permission to access..
			</span>
			<span>
				<span style="color:#d65562;">
					if
				</span>
				(<span style="color:#4ca8ef;">!</span><span style="font-style: italic;color:#bdbdbd;">authenticated</span>) {
			</span>
			<span>
				<span style="padding-left: 15px;color:#2796ec">
					<i style="width: 10px;display:inline-block"></i>throw
				</span>
				<span>
					(
					<span style="color: #a6a61f">"(╯°□°)╯︵ ┻━┻"</span>);
				</span>
				<span style="display:block">}</span>
			</span>
			<router-link to="/">
				<button class="btn btn-secondry btn-lg btn-block" type="submit">Take Me Home</button>
			</router-link>
		</div>
	</div>

</template>

<style scoped>
/* Styles of the 404 page of my website. */

.body {
  width: 100%;
  height: 100%;
  background: rgba(156, 212, 223, 1);
  color: #d3d7de;
  font-family: "Courier new";
  font-size: 18px;
  line-height: 1.5em;
  cursor: default;
}

.code-area {
  background: #081421;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  width: 500px;
  min-width: 320px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.code-area > span {
  display: block;
}

@media screen and (max-width: 470px) {
  .code-area {
    font-size: 5vw;
    min-width: auto;
    width: 95%;
    margin: auto;
    padding: 5px;
    padding-left: 10px;
    line-height: 6.5vw;

  }
}
</style>

<script>
export default {
  name: "er404"
};
</script>
