<template>
	<main>
		<dash-header></dash-header>
		<br>
		<section class="container">
			<div class="row">
				<section class="col-md-9">
					<card>
						<h3>
							<b> Running Assessments </b>
						</h3>
						<table class="table table-dark table-hover ">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Exam</th>
									<th scope="col">Start Date</th>
									<th scope="col">Start At</th>
									<th scope="col">Duration</th>
									<th scope="col">End Date</th>
									<th scope="col">score</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr :class="{'green': (exam.score >= 0)? true : false }" v-for="(exam,index) in examList" :key="index" @click="gotoExam(exam.exam, exam.name, exam.duration, exam.score)">
									<th scope="row">{{index+1}}</th>
									<td>{{exam.name}}</td>
									<td>{{exam.published_date}}</td>
									<td>{{exam.published_date}}</td>
									<td>{{exam.duration}}</td>
									<td>{{exam.published_date}}</td>
									<td>
										<span v-if="exam.score>=0">{{exam.score}}</span>
									</td>
									<td>{{exam.total_degree}}</td>
								</tr>
								<p v-if="no_records==true" class="text-center"> There is no records </p>
							</tbody>
						</table>
					</card>
					<br>
					<card>
						<form action="" method="GET">
							<h3>
								<b> Add New Assessment </b>
							</h3>
							<div class="row add-new-ass">
								<div class="col-6 scan-btn">
									<button class="btn btn-secondry btn-lg btn-block" @click.prevent="$refs.QRmodal.open(); cam=true">Scan QR-code</button>
								</div>
								<div class="col-6 vl">
									<text-field placeholder="Please Enter the assessment id" v-model="examID" label="Assesement Id" />
									<button class="btn btn-success btn-lg btn-block" @click.prevent="addExam()">Add</button>
								</div>
							</div>
						</form>
					</card>
				</section>
				<aside class="col-md-3">
					<user-card/>
				</aside>
			</div>
		</section>
		<sweet-modal overlay-theme="dark" :blocking=false @close="cam = false" :hide-close-button=false ref="QRmodal">
			<h3>Scan QR Code</h3>
			<qrcode-reader v-if="cam==true" @decode="onDecode" @locate="onLocate" />
			<p> {{examID}} </p>
		</sweet-modal>
		<sweet-modal overlay-theme="dark" :blocking=true icon="success" ref="successModal">
			<p>Your exam has been added successfly</p>
		</sweet-modal>

		<sweet-modal overlay-theme="dark" icon="warning" ref="errorModal">
			<p> That wasn't expected O.o </p>
			<p>Maybe the exam id isn't correct</p>
		</sweet-modal>
	</main>

</template>

<style scoped lang="sass">
table
  border-radius: 5px
  margin: 20px auto
  display: block
  height: 190px
  overflow-y: scroll

th
  border-top: 0

tr
  cursor: pointer

.scan-btn
  display: flex;
  flex-direction: column;
  justify-content: center;

button
  margin-top: 0;

.info
  margin-top: 1.5em

.vl
  border-left: 3px solid #7fab67

</style>

<script>
import auth from "../auth";
import exam from "../exam";

import textField from "./UI/TextField";
import Card from "./UI/Card";
import DashHeader from "./UI/DashHeader";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";
import userCard from "./UI/UserCard";

export default {
  name: "dashboard",
  async mounted() {
    await (this.user = auth.getUser());
    console.log(this.user.is_staff);
    if (!auth.checkAuth() || this.user.is_staff == false)
      this.$router.push("401");
    console.log(this.user);
    console.log(this.user.user_name);
    exam.getExam(this.user.user_name).then(res => (this.examList = res));
  },
  data() {
    return {
      no_records: false,
      cam: false,
      examID: "",
      user: {},
      added: false,
      examList: []
    };
  },
  components: {
    "text-field": textField,
    "dash-header": DashHeader,
    card: Card,
    SweetModal,
    SweetModalTab,
    "user-card": userCard
  },
  methods: {
    async addExam() {
      await exam
        .addExam(this.examID)
        .then(
          res => (res == "good" ? (this.added = true) : (this.added = false))
        );
      this.added == true
        ? this.$refs.successModal.open()
        : this.$refs.errorModal.open();
      exam.getExam(this.user.user_name).then(res => (this.examList = res));
    },
    gotoExam(exam, name, duration, score) {
      let examID = exam;
      let nameID = name;
      let durationID = duration;
      if (score < 0)
        this.$router.push({
          name: "examview",
          query: { examID, nameID, durationID }
        });
      else this.$router.push({ name: "ExamResults", query: { examID } });
    },
    onDecode(content) {
      this.examID = content;
      this.cam = false;
      addExam();
      exam.getExam(this.user.user_name).then(res => (this.examList = res));

      // ...
    },

    onLocate(points) {
      // ...
    }
  }
};
</script>
