<template>
  <main>
    <dash-header></dash-header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <text-field class="shadow" v-model="exam.name" placeholder="Enter assigment name"></text-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <card>
            <h3>
              <i class="material-icons">
                settings
              </i> Options</h3>
            <br>
            <div class="form-group">
              <select name="" id="" v-model="exam.author" class="form-control form-control-lg" required>
                <option value="" disabled selected>Category</option>
                <option value="Java">Java</option>
                <option value="AI">AI</option>
                <option value="ML">ML</option>
                <option value="Web">Web</option>
              </select>
            </div>
            <br>
            <div class="form-group">
              <datetime type="datetime" v-model="exam.published_date" input-class="datatime form-control form-control-lg" value-zone="local" :format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }" :phrases="{ok: 'Continue', cancel: 'Cancel'}" :hour-step="1" :minute-step="15" :min-datetime="minDateTime" :week-start="6" use12-hour auto></datetime>
            </div>
            <text-field type="number" v-model="exam.duration" placeholder="Duration"></text-field>
            <text-field type="number" v-model="exam.total_degree" placeholder="Total Degree"></text-field>
            <br>


          </card>
        </div>
        <div class="col-9">
          <question-view v-model="questions[index]" v-for="(q,index) in questionsList" :type="q" :no="index+1" :key="index" @close="removeQuestion(index)" />

          <div class="row">
            <div class="col-12 m-auto">
              <btn shadow type="submit" @click="publish()">Publish</btn>

            </div>
          </div>

          <br>
        </div>
      </div>
    </div>
    <fab :position="position" :main-tooltip="'Add Question'" :bg-color="bgColor" @mcq="addMCQuestion" @essay="addEssayQuestion" @code="addCodeQuestion" :actions="fabActions"></fab>
    <sweet-modal overlay-theme="dark" :blocking=true icon="success" :hide-close-button=true ref="successModal">
      <p>Well done, Your exam has been published successfly</p>
      <h3> Exam ID: {{exam_id}} </h3>
      <button class="btn btn-secondry btn-lg btn-block" @click="$router.push({ name: 'dashboard' , query: { examID : $route.query.examID } })">Continue</button>
    </sweet-modal>

    <sweet-modal overlay-theme="dark" :blocking=true icon="loading" :hide-close-button=true ref="createdSuccessModal">
      <p>Your exam has been created successfly, Please wait untill the questions is added to the exam ..</p>
    </sweet-modal>

    <sweet-modal overlay-theme="dark"  icon="warning" ref="errorModal">
      <p> That wasn't expected O.o </p>
      <p>Please check your connection, and try to resubmit :)</p>
    </sweet-modal>
<!--
    <sweet-modal overlay-theme="dark" ref="preview">
      <question-preview v-for="(question,index) in questions" :key="index" :name="index+1" :marks=question.score>
        <div v-html="question.content"></div>
        <answer-form :choises=" question.choises " :type="question.type"></answer-form>
      </question-preview>
    </sweet-modal>
    -->
  </main>

</template>

<script>
import auth from "../auth";
import exam from "../exam";
import textField from "./UI/TextField";
import Card from "./UI/Card";
import Question from "./UI/Question";
import QuestionView from "./UI/QuestionView";
import DashHeader from "./UI/DashHeader";
import answer from "./UI/Answer";
import Btn from "./UI/Btn";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";
import fab from "vue-fab";
var moment = require("moment");

export default {
  name: "examcreate",
  data() {
    return {
      QuestionHTML: "",
      bgColor: "#28a745",
      position: "bottom-right",

      minDateTime: `${moment().format()}`,
      exam: {
        published_date: `${moment().format()}`,
        name: "",
        // cat: "",
        duration: "2",
        author: "",
        total_degree: "100"
      },
      fabActions: [
        {
          name: "code",
          color: "#333333",
          tooltip: "Code Question",
          icon: "code"
        },
        {
          name: "mcq",
          color: "#333333",
          tooltip: "MCQ",
          icon: "format_list_bulleted"
        },
        {
          name: "essay",
          color: "#333333",
          tooltip: "Essay Question",
          icon: "message"
        }
      ],
      submitted: false,
      created: false,
      exam_id: "",
      questions: [],
      questionsList: ["mcq"]
    };
  },
  mounted() {
    if (!auth.checkAuth()) this.$router.push("401");
  },
  components: {
    "text-field": textField,
    "dash-header": DashHeader,
    btn: Btn,
    card: Card,
    SweetModal,
    SweetModalTab,
    "answer-form": answer,
    "question-view": Question,
    "question-preview": QuestionView,
    fab
  },
  async beforeMount() {},
  methods: {
    addCodeQuestion() {
      this.questionsList.push("code");
    },
    addMCQuestion() {
      this.questionsList.push("mcq");
    },
    addEssayQuestion() {
      this.questionsList.push("essay");
    },
    preview() {
      console.log(questions);
      this.$refs.preview.open("tab1");
    },
    async publish() {
      console.log(JSON.stringify(this.questions));
      this.exam.total_degree = parseInt(this.exam.total_degree);
      this.exam.duration = parseInt(this.exam.duration);
      console.log(JSON.stringify(this.exam));

      await exam.setExam(this.exam).then(res => {
        res.status == "good" ? (this.created = true) : (this.created = false);
        this.exam_id = res.id;
        console.log(res);
      });

      console.log(this.exam_id);

      this.created == true
        ? this.$refs.createdSuccessModal.open()
        : this.$refs.errorModal.open();

      if (this.created) {
        this.questions.forEach(q => {
          q.exam = this.exam_id;
        });

        console.log(JSON.stringify(this.questions));

        await exam
          .setQuestions(this.questions)
          .then(
            res =>
              res == "good" ? (this.submitted = true) : (this.submitted = false)
          );
        this.$refs.createdSuccessModal.close();
        this.submitted == true
          ? this.$refs.successModal.open()
          : this.$refs.errorModal.open();
      }
    },
    removeQuestion(index) {
      this.questionsList.splice(index, 1);
      console.log(this.questionsList);
    }
  }
};
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 0;
}
</style>

