<template>
	<main>
		<dash-header></dash-header>
		<br>
		<section class="container">
			<div class="row">
				<section class="col-md-9">
					<card>
						<h3>
							<b> Your Results </b>
						</h3>
						<table class="table table-dark table-hover table-responsive-sm">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Questions</th>
									<th scope="col">Score</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">0</th>
									<td>total</td>
									<td class="score">{{degree.degree}}</td>
									<td>{{degree.total}}</td>
								</tr>
								<tr v-for="(question,index) in questions" :key="index" >
									<th scope="row">{{index+1}}</th>
									<td>Question {{index+1}}</td>
									<td class="score">{{question.degree}}</td>
									<td>{{question.score}}</td>
								</tr>
								<p v-if="no_records==true" class="text-center"> There is no records </p>
							</tbody>
						</table>
					</card>
					<br>
				</section>
				<aside class="col-md-3">
					<user-card/>
				</aside>
			</div>
		</section>
	</main>

</template>

<style scoped lang="sass">
table
  border-radius: 5px
  margin: 20px auto
  overflow-y: scroll

th
  border-top: 0

tr
  cursor: pointer

.avatar
  width: 100%
  border-radius: 50%

.scan-btn
  display: flex;
  flex-direction: column;
  justify-content: center;

button
  margin-top: 0;

.info
  margin-top: 1.5em

.score,.grade
  font-weight: bold
  color: #7fab67
</style>

<script>
import auth from "../auth";
import textField from "./UI/TextField";
import Card from "./UI/Card";
import userCard from "./UI/UserCard";
import DashHeader from "./UI/DashHeader";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";
import exam from "../exam";

export default {
  name: "examresults",

  data() {
    return {
      no_records: false,
      degree: Object,
      examID: "",
      questions: []
    };
  },
  components: {
    "text-field": textField,
    "dash-header": DashHeader,
    card: Card,
    "user-card": userCard,
    SweetModal,
    SweetModalTab
  },
  mounted() {
    if (!auth.checkAuth()) this.$router.push("401");
  },
  async beforeMount() {
    console.log(JSON.stringify({ exam: parseInt(this.$route.query.examID) }));
    await exam
      .getDegree({ exam: parseInt(this.$route.query.examID) })
      .then(res => {
        console.log(res);
        for (let q in res) {
          if (`${q}`.search("s") == 0) {
						this.questions.push(res[q]);
            console.log(q, res[q]);
          }
        }
        this.degree = res;
      });
  },
  methods: {}
};
</script>
