
<template>
  <main>
    <exam-header :title="this.$route.query.nameID" ></exam-header>
    <section v-for="(question,index) in questions" v-bind:key="index">
      <question :number=question.qNumber :score=question.score>
        <div v-html="question.content"></div>
        <answer-form v-model=answers[index] :options=choises[index] :type=question.type></answer-form>
      </question>
    </section>

    <sweet-modal overlay-theme="dark" ref="modal" icon="info">
      <p>Are you sure that you want to submit your answers, there is no way to edit your answers after submission!</p>
      <button class="btn btn-secondry btn-lg btn-block" type="submit" @click="confirm()">Confirm</button>

    </sweet-modal>

    <sweet-modal overlay-theme="dark" :blocking=true icon="success" :hide-close-button=true ref="successModal">
      <p>Your Answers have been submited successfly</p>
      <button class="btn btn-secondry btn-lg btn-block" @click="$router.push({ name: 'ExamResults' , query: { examID : $route.query.examID } })">Continue</button>
    </sweet-modal>

    <sweet-modal overlay-theme="dark" icon="warning" ref="errorModal">
      <p> That wasn't expected O.o </p>
      <p>Please check your connection, and try to resubmit :)</p>
    </sweet-modal>

    <button class="btn btn-success btn-lg btn-block" type="submit" @click="warn()">Submit your answers</button>
  </main>

</template>

<script>
import { SweetModal, SweetModalTab } from "sweet-modal-vue";
import question from "./UI/QuestionView";
import answer from "./UI/Answer";
import ExamHeader from "./UI/ExamHeader";
import auth from "../auth";
import exam from "../exam";

export default {
  name: "examview",
  components: {
    question: question,
    "answer-form": answer,
    "exam-header": ExamHeader,
    SweetModal,
    SweetModalTab
  },
  data() {
    return {
      questions: [],
      answers: [],
      choises: [],
      exam_answers: [],
      submitted: Boolean
    };
  },
  mounted() {
    if (!auth.checkAuth()) this.$router.push("401");
  },
  async beforeMount() {
    await exam
      .getQuestions(this.$route.query.examID)
      .then(res => (this.questions = res))
      .then(res => {
        res.forEach((k, index) => {
          // Because k.choises type is string
          // store the preprocessed arrays in new var called choises
          // parse the non NULL strings and store default value for null string
          console.log(JSON.parse(k.choises))
          this.choises[index] = JSON.parse(k.choises);
          if (k.choises == null) this.choises[index] = ["7", "B", "C", "D"];
        });
        console.log(this.choises);
      });
  },
  methods: {
    warn() {
      this.$refs.modal.open("tab1");
      console.log(this.answers);
    },
    async confirm() {
      this.exam_answers = [];
      this.questions.forEach((question, index) => {
        this.exam_answers.push({
          exam: this.$route.query.examID,
          question: `${question.id}`,
          author: 44,
          answer: `${this.answers[index]}`
        });
      });
      console.log(this.exam_answers);
      console.log(JSON.stringify(this.exam_answers));
      await exam
        .setAnswers(this.exam_answers)
        .then(
          res =>
            res == "good" ? (this.submitted = true) : (this.submitted = false)
        );

      this.submitted == true
        ? this.$refs.successModal.open()
        : this.$refs.errorModal.open();
    }
  }
};
</script>
<style>
</style>
