<template>
  <div class="container">
    <div>
      <div class="text-center">
        <h1>
          <router-link to="/">Gavel</router-link>
        </h1>
      </div>
      <card>
        <h2> Sign In </h2>
        <span> Don't have a Gavel account?
          <router-link to="/register"> Create a free account </router-link>
        </span>
        <br>
        <br>
        <form action="#" method="POST" v-on:submit.prevent="login()">
          <div class="row">
            <div class="col-12">
              <text-field label="Username" v-model="creds.user" />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <text-field type="password" label="Password" v-model="creds.pass" />
            </div>
          </div>
          <div class="row">
            <span class="col-sm-6 col-12 vertically-centered-text">
              <a href="#"> Forgot password? </a>
            </span>
            <div class="col-sm-6 col-12">
              <btn type="submit">Sign In</btn>
            </div>
          </div>
        </form>
      </card>
      <br>
    </div>
    <sweet-modal overlay-theme="dark" icon="warning" ref="errorModal">
      <p> Login Failed O.o </p>
      <p> Please check your username and password </p>
    </sweet-modal>
  </div>
</template>

<script>
import textField from "./UI/TextField";
import Card from "./UI/Card";
import Btn from "./UI/Btn";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";

import auth from "../auth";
export default {
  name: "login",
  data() {
    return {
      creds: {
        user: "",
        pass: ""
      },
      error: false
    };
  },
  methods: {
    login() {
      auth
        .login(this.creds)
        .catch(err => {
          this.error = auth.error;
          console.log(this.error);
          this.$refs.errorModal.open("tab1");
        })
        .then(res => {
          console.log({is_staff: res.is_staff})
          if (!this.error && res.is_staff==false) this.$router.push("dashboard");
          else if(!this.error && res.is_staff==true) this.$router.push("examcreate");
        });
    }
  },
  components: {
    "text-field": textField,
    card: Card,
    btn: Btn,
    SweetModal,
    SweetModalTab
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
h1 a
  font-size: 48px
  margin-top: 0
  color: rgba(255,255,255,0.75)
  -webkit-text-stroke-color: #5e737d

h1 a:hover
  color: white

.container
  display: flex
  height: 100%
  align-items: center
  justify-content: center

.vertically-centered-text
  height: 48px
  line-height: 48px
</style>
