<template>
	<div class="container">
		<div>
			<br>
			<div class="text-center">
				<h1>
					<router-link to="/">Gavel</router-link>
				</h1>
			</div>
			<card>
				<h2> Sign Up </h2>
				<span> Already have a Gavel account?
					<router-link to="/login"> Login here! </router-link>
				</span>
				<br>
				<br>
				<form action="#" method="POST" v-on:submit.prevent="Register()">
					<div class="row">
						<div class="col-sm-6 col-12">
							<text-field label="First Name" v-model="creds.fname" />
						</div>
						<div class="col-sm-6 col-12">
							<text-field label="Last Name" v-model="creds.lname" />
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<text-field label="User Name" v-model="creds.user" />
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<text-field type="email" label="E-mail" v-model="creds.email" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-12">
							<text-field type="password" label="Password" v-model="creds.pass" />
						</div>
						<div class="col-sm-6 col-12">
							<text-field type="password" label="Re-enter Password" v-model="repass" />
						</div>
					</div>

					<br>
					<div class="row">
						<span class="col-sm-6 col-12 vertically-centered-text">
							<toggle-button id="changed-font" :color="{unchecked: '#7ac2d0'}" :width=148 :height=48 :labels="{checked: 'staff', unchecked: 'member'}" :sync="true" v-model="creds.is_staff" />
						</span>
						<div class="col-sm-6 col-12">
							<button class="btn btn-success btn-lg btn-block" type="submit">Sign Up</button>
						</div>
					</div>
				</form>
				<h6>
					<small> staff member? click on the member switch </small>
				</h6>
			</card>
			<br>
		</div>
		<sweet-modal overlay-theme="dark" icon="warning" ref="errorModal">
			<p> Registration Failed O.o </p>
			<p> Maybe the username is used, please try again </p>
		</sweet-modal>
	</div>
</template>

<script>
import textField from "./UI/TextField";
import Card from "./UI/Card";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";

import auth from "../auth";
export default {
  name: "register",
  data() {
    return {
      creds: {
        fname: "",
        lname: "",
        user: "",
        email: "",
        pass: "",
        is_staff: false
      },
      repass: "",
      error: ""
    };
  },
  methods: {
    Register() {
      auth
        .register(this.creds)
        .catch(() => {
          this.error = auth.error;
          console.log(this.error);
          this.$refs.errorModal.open("tab1");
        })
        .then(() => {
          if (!this.is_staff && !this.error) this.$router.push("dashboard");
          else if (!this.error && res.is_staff == true)
            this.$router.push("examcreate");
        });
    }
  },
  components: {
    "text-field": textField,
    card: Card,
    SweetModal,
    SweetModalTab
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
h1 a
  font-size: 48px
  margin-top: 0
  color: rgba(255,255,255,0.75)
  -webkit-text-stroke-color: #5e737d

h1 a:hover
  color: white

.container
  display: flex
  align-items: center
  justify-content: center

.vue-js-switch#changed-font
  font-size: 1.2em

</style>
