<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style lang="sass">
$primary: #e65c53
$secondry: #7fab67
$highlight: #fbe476
$third: #029be5
$theme: #9cd4df
$javascript: #e80a89

#app
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: "Open Sans", sans-serif
  height: 100%

/* Scrollbar */
// width
::-webkit-scrollbar
  width: 10px

// Track
::-webkit-scrollbar-track
  background: #fff

// Handle
::-webkit-scrollbar-thumb
  background: rgb(241, 153, 160)

// Handle on hover
::-webkit-scrollbar-thumb:hover
  background: rgb(93, 3, 202)
/* Scrollbar */



span
  font-weight: 300

a
  color: rgb(127, 171, 103)
  font-weight: 600

a:hover,
a:focus,
a:visited
  text-decoration-line: none

.CodeMirror
  height: 200px
  border-radius: 0 0 10px 10px


textarea
  height: 72px
  padding: 6px 10px
  background-color: #f5f5f5
  border: none
  box-shadow: none
  box-sizing: border-box
  border-radius: 0
  outline: none
  width: 100%

.material-icons
  color: rgba(0, 0, 20, 0.8)


.editr--toolbar
  height: 48px
  a
    max-width: 40px
    height: 48px
    cursor: pointer
    text-align: center
    line-height: 1
    flex-direction: column
    justify-content: center
    display: flex
    font-weight: 100

.vdatetime-input.form-control,
select.form-control
  font-weight: 400
  border: none
  border-radius: 3px
  font-size: 1em
  max-height: 44px
  color: #757575
  line-height: 2
  background-color: #f5f5f5

option[value=""][disabled]
  display: none

h2
  font-weight: 700

h6
	font-size: 1em
	font-weight: 400
	color: rgba(0, 0, 20, 0.7)

.vue-js-switch .v-switch-label
  font-weight: 100 !important

.green
  background: #7fab67
</style>
