<template>
	<section>
		<hr>
		<essay v-if="type == 'essay'" v-model=input @input="update()" />
		<code-input v-else-if="type == 'code'" v-model=input @input="update()" />
		<mcq v-else :choises="options" v-model=input @input="update()" />
	</section>
</template>

<script>
import MCQ from "./MCQAns";
import CodeInput from "./CodeAns";
import Essay from "./EssayAns";
export default {
  name: "answer",
  props: {
    type: {
      type: String,
      default: "essay"
    },
    options: {
      type: Array
    }
  },
  data() {
    return {
      input: ""
    };
  },
  components: {
    mcq: MCQ,
    essay: Essay,
    "code-input": CodeInput
  },
  mounted(){
    console.log("hhh",this.choises);
  },
  methods: {
    update() {
      this.$emit("input", this.input);
    }
  }
};
</script>

<style lang="sass" scoped>
form
  background: #f9f9f7
  background: #91D1D3
  padding: 20px 40px 20px
  border-radius: 0 0 10px 10px
  font-size: 16px

hr
  margin: 0
</style>
