<template>
	<div>
		<button
		@click="$emit('click', $event)"
		class="btn-primary btn"
		:class="{
    'btn-shadow': shadow,
		'btn-light': light, 'btn-dark': dark,
		'btn-secondry': secondry,
		'btn-tertiary': tertiary,
    'btn-disabled': disabled
    }"
    :disabled="disabled"
		ref="btn"
		:type="type">
			<slot />
		</button>
	</div>
</template>

<script>
export default {
  name: "btn",
  props: {
    type: {
      default: "text",
      type: String
    },
    light: {
      default: false,
      type: Boolean
    },
    dark: {
      default: false,
      type: Boolean
    },
    secondry: {
      default: false,
      type: Boolean
    },
    tertiary: {
      default: false,
      type: Boolean
    },
    shadow: {
      default: false,
      type: Boolean
    },
    disabled: {
      default: false,
      type: Boolean
    }
  }
};
</script>

<style lang="sass" scoped>

.btn
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  line-height: 1.5;
  height: 48px
  font-weight: 400;
  text-align: center;
  light-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none
  text-transform: uppercase;
  font-size: 16px
  color: #fff;
  border-radius: 3px
  -webkit-appearance: button;
  margin: 0;
  cursor: pointer;
  //background-color: #e65c53
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

.btn
  &-primary
    background-color: rgb(230,92,83)
  &-primary:hover
    background-color: rgb(236,134,128)
  &-primary:active
    background-color: rgb(224,50,38)
  &-secondry
    background-color: rgb(2,155,229)
  &-secondry:hover
    background-color: rgb(29,180,253)
  &-secondry:active
    background-color: rgb(2,121,178)
  &-tertiary
    background-color: rgb(127,171,103)
  &-tertiary:hover
    background-color: rgb(155,189,136)
  &-tertiary:active
    background-color: rgb(102,144,79)
  &-dark
    background-color: rgb(38,50,56)
  &-dark:hover
    background-color: rgb(59,77,86)
  &-dark:active
    background-color: rgb(17,23,26)
  &-light
    color: rgb(0,0,0)
    background-color: rgb(245,245,245)
  &-light:hover
    background-color: rgb(242,242,242)
  &-light:active
    background-color: rgb(230,230,230)
  &-disabled
    background: repeating-linear-gradient(-55deg,#f5f5f5,#f5f5f5 8px,#E3E3E3 8px,#E3E3E3 16px)
    color: rgb(0,0,0)
  &-shadow
    box-shadow: 0px 2px 2px rgba(50,50,50,.3)
  &-shadow:active
    box-shadow: 0px 0px 0px rgba(0,0,0,0)
</style>
