<template>
    <!--
        * set the background of the card to the cover image with linear gradient when
        their is no body but only an cover image with title or subtitle
        * set the background of the card to the cover image if it doesn't have a body or
        tile or subtitle
        * add image to the header of the card if it has body
    -->
    <section 
    class="gavel-card" 
    :style="[
      isEmptyCoverCardWithData() ? {backgroundImage: linearGradBkgd } : 
      isEmptyCoverCard() ? {backgroundImage: coverBkgd} :
      {}]"
    :class="{'img-card': !hasBody}">

        <!--In case their is cover image and body, render the image normally in the top-->
        <img :src="cover" class="cover" v-if="hasBody && checkCoverSrc()" alt="card-cover">

        <!--Img header which contain h1 and h2 appearing on the cover image-->
        <section class='img-header' v-if="!hasBody">
            <h1 v-if="title"> {{title}} </h1>
            <h2 v-if="subtitle"> {{subtitle}} </h2>
        </section>

        <!-- card body -->
        <div class="card-body" v-if="hasBody">
            <slot />
        </div>
    </section>
</template>

<script>
export default {
  name: "card",
  props: {
    cover: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    },
    subtitle: {
      type: String,
      default: ""
    }
  },
  data: function() {
    return {
      hasBody: false,
      linearGradBkgd: `linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%,
        rgba(0, 0, 0, 0.403476) 98.22%), url(${this.cover})` ,
      coverBkgd: `url(${this.cover}`
    };
  },
  methods: {
    checkCoverSrc() {
      return this.cover != null && this.cover != undefined && this.cover != "";
    },
    isEmptyCoverCardWithData(){
      return (!this.hasBody && this.checkCoverSrc && (this.title || this.subtitle)) 
    },
    isEmptyCoverCard(){
      return (!this.hasBody && this.checkCoverSrc && !(this.title || this.subtitle)) 
    }
  },
  created: function() {
    const slots = this.$slots.default;

    // chech if there is body or not
    if (slots == undefined) {
      this.hasBody = false;
    } else {
      this.hasBody = true;
    }
  }
};
</script>

<style lang="sass" scoped>
.gavel-card
  position: relative;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);

  .cover
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-bottom: -15px;

  .cover-only
    border-radius: 6px 6px 6px 6px
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05)
    width: 100%
    margin-bottom: -4px

  .card-body
    padding: 30px 40px

  p
    color: rgba(0,0,0,.75)
    font-size: 16px

  // body header stylings
  header
    margin-bottom: 20px
    h1
      color: rgba(0, 0, 0, .85)
      font-size: 32px
      font-weight: bold
      margin: 0
    h2
      font-size: 11px
      font-weight: 600
      color: rgba(0, 0, 0, .60)
      text-transform: uppercase
      margin: 0

  // cover header stylings
  .img-header
    position: absolute
    bottom: 25px
    padding-left: 30px

    h1
      color: #fff;
      font-size: 32px
      font-weight: bold
      margin: 0
      text-transform: uppercase

    h2
      font-size: 11px
      font-weight: 600
      color: #fff;
      text-transform: uppercase
      margin: 0

// min width and height for cover image card
.img-card
  min-height: 200px
  min-width: 320px

</style>
