<template>
  <div>
    <h5> Test Data </h5>
    <br>
    <div class="row">
      <div class="col-6">
        <h6> Input </h6>
        <textarea ref="input" v-model="input" @input="update()" placeholder="Enter text..." name="" id="" rows="5"> </textarea>
      </div>
      <div class="col-6">
        <h6> Ouput </h6>
        <textarea ref="output" v-model="output" @input="update()" placeholder="Enter text..." name="" id="" rows="5"> </textarea>
      </div>
    </div>
    <div class="row">

      <div class="col-6">
        <text-field ref="time" v-model="time" @input="update()" type="number" label="Execution time" placeholder="1 Second"></text-field>
      </div>
      <div class="col-6">
        <text-field ref="mem" v-model="mem" @input="update()" type="number" label="Memory Limit" placeholder="100 MB"></text-field>
      </div>
    </div>
    <select @change="update()" name="" id="" v-model="lang" class="form-control form-control-lg" required>
      <option value="" disabled selected>Programming Language</option>
      <option value="29">Javascript</option>
      <option value="34">Python</option>
    </select>
  </div>
</template>

<script>
import textField from "./TextField";

export default {
  name: "CodeQuest",
  data() {
    return {
      input: "",
      output: "",
      time: "",
      mem: "",
      lang: ""
    };
  },
  methods: {
    update() {
      this.$emit("input", {
        mcq: [
          this.lang,
          { stdin: this.input, time: this.time, memory: this.mem+10000 }
        ],
        ideal: this.output
      });
    }
  },
  components: {
    "text-field": textField
  }
};
</script>


<style lang="sass" scoped>


</style>
