<template>
  <div class="codemirror">
    <!-- codemirror -->
    <textField placeholder="input" :dark=true v-model="stdin" />
    <codemirror ref="code" v-model="code" :options="cmOptions"></codemirror>
    <br>
    <div class="row">
      <div class="col-6">
        <btn secondry @click="test()">test</btn>
      </div>
      <div class="col-6">
        <btn @click="submit()">submit</btn>
      </div>
    </div>
    <sweet-modal overlay-theme="dark" icon="success" ref="successModal">
      <p>Your Answer have been submited successfly</p>
      <button @click="$refs.successModal.close()" class="btn btn-secondry btn-lg btn-block">Continue</button>
    </sweet-modal>

    <sweet-modal overlay-theme="dark" icon="info" ref="outputModal">
      <p>Output</p>
      <p class="alert alert-info">
        <pre>{{compiled.stdout}}</pre>
      </p>
      <div class="row">
        <div class="col-6">
          <p>Execution time</p>
          <p class="alert alert-info">
            <pre>{{compiled.time}}</pre>
          </p>
        </div>
        <div class="col-6">
          <p>Memory usage</p>
          <p class="alert alert-info">
            <pre>{{compiled.memory}}</pre>
          </p>
        </div>
      </div>
      <button class="btn btn-secondry btn-lg btn-block" @click="$refs.outputModal.close()">Continue</button>

    </sweet-modal>

    <sweet-modal overlay-theme="dark" icon="warning" ref="errorModal">
      <p> Compiling error </p>
      <p class="alert alert-danger" role="alert">
        <pre>{{compiled.stderr}}</pre>
      </p>
    </sweet-modal>
  </div>
</template>

<script>
import "codemirror/mode/javascript/javascript.js";
import "codemirror/mode/python/python.js";

import "codemirror/theme/material.css";
import btn from "./Btn";
import textField from "./TextField";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";
import codeApi from "../../code";
export default {
  name: "codeinput",
  data() {
    return {
      code: "/* Write your code here */\n",
      cmOptions: {
        autoCloseBrackets: true,
        tabSize: 4,
        styleActiveLine: true,
        lineNumbers: true,
        line: true,
        mode: "text/javascript",
        theme: "material"
      },
      compiled: {},
      stdin: "",
      lang: 34,
      saved: {}
    };
  },
  mounted() {
    console.log((this.choises[0]));
    if (this.choises[0] == "29") {
      this.code = "/* Write your code here */\n";
      this.cmOptions.mode = "text/javascript";
      this.lang = 29;
    } else {
      this.code = "# Write your code here\n";
      this.cmOptions.mode = "text/x-python";
      this.lang = 34;
    }
  },
  props: {
    choises: {
      type: Array,
      default: function() {
        return [34, { memory: 100000, time: 1, stdin: "" }];
      }
    }
  },
  components: {
    btn,
    textField,
    SweetModal,
    SweetModalTab
  },
  methods: {
    async test() {
      await codeApi
        .compileCode({
          code: this.code,
          lang: this.choises[0],
          input: this.stdin
        })
        .then(res => {
          console.log(this.stdin);
          console.log(res);
          this.compiled = res;
          if (res.stderr) this.$refs.errorModal.open();
          else this.$refs.outputModal.open();
        });
    },
    async submit() {
      await codeApi
        .compileCode({
          code: this.code,
          lang: this.choises[0],
          input: this.choises[1].stdin
        })
        .then(res => {
          console.log(this.lang);
          console.log(res);
          this.saved = res;
          if (res.stderr) this.$refs.errorModal.open();
          else this.$refs.successModal.open();
          this.$emit(
            "input",
            `{'stdout': '${this.saved.stdout}','time': ${this.saved.time},'memory': ${this.saved.memory}}`);
        });
    }
  }
};
</script>


<style lang="sass" scoped>
input.form-control
  background: black !important;
</style>
