<template>
	<form class="paper-form" action="#" method="GET">
		<div class="row">
			<div class="paper">
				<div class="paper-content">
					<textarea ref="textarea" @input="update()" autofocus>Hello there !&#10;Here's a paper text area, feel free to type something ...</textarea>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
export default {
  name: "essay",
  methods: {
    update() {
      this.$emit("input", this.$refs.textarea.value);
    }
  }
};
</script>


<style lang="sass" scoped>
.paper-form
  background: #91D1D3
  padding: 20px 40px 20px
  border-radius: 0 0 10px 10px

.paper
  position: relative
  width: 100%
  height: 245px
  max-height: 390px
  margin: 0 auto
  background: #fafafa
  border-radius: 10px
  box-shadow: 0 2px 8px rgba(0,0,0,.3)
  overflow: hidden

.paper:before
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 60px
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y
  background-size: 30px 30px
  border-right: 3px solid #D44147
  box-sizing: border-box

.paper-content
  position: absolute;
  top: 30px
  right: 0
  bottom: 30px
  left: 60px
  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px)
  background-size: 30px 30px

.paper-content textarea
  width: 100%
  max-width: 100%
  height: 100%
  max-height: 100%
  line-height: 30px
  padding: 0 10px
  border: 0
  outline: 0
  background: transparent
  color: mediumblue
  font-family: 'Handlee', cursive
  font-size: 20px
  box-sizing: border-box
  z-index: 1
</style>
