<template>
  <div class="row">
    <div class="col-12">
      <h5> Ideal Answer </h5>
      <textarea ref="input" v-model="input" @input="update()" placeholder="Enter text..." rows="10" required> </textarea>
    </div>
  </div>
</template>

<script>
import textField from "./TextField";

export default {
  name: "EssayQuest",
  data() {
    return {
      input: ""
    };
  },
  methods: {
    update() {
      this.$emit("input", {
        mcq: [],
        ideal: this.input
      });
    }
  },
  components: {
    "text-field": textField
  }
};
</script>


<style lang="sass" scoped>
textarea
  min-height: 250px
</style>
