<template>
	<header class="hoverEffect">
		<div class="container">
			<div class="inline-title">
				<router-link to="dashboard">
					<i class="material-icons">arrow_back</i>
				</router-link>
				<span> {{title}} </span>
			</div>
			<timer :hr=deadline.duration  />
		</div>
	</header>
</template>

<script>
import timer from "./Timer";
export default {
  name: "ExamHeader",
  props: {
    title: {
      type: String,
      default: "Exam Title"
    },
    deadline: {
      type: Object,
      default: function() {
        return { duration: 2 };
      }
    }
  },
  components: {
    timer: timer
  }
};
</script>


<style>
header {
  background: white;
  height: 66px;
}

header .container {
  height: 66px;
  padding: 8px;
}

.inline-title {
  font-size: 2.2em;
  padding: 12px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.inline-title span {
  color: #79a3a8;
}
.inline-title i {
  font-weight: 900;
  margin-right: 20px;
  color: #333;
  font-size: 41px;
  vertical-align: middle;
}

.hoverEffect {
  position: relative;
}
.hoverEffect:before,
.hoverEffect:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 75%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.hoverEffect:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
</style>
