<template>
	<card>
		<h2> Sign In </h2>
		<span> Don't have a Gavel account?
			<router-link :to="registerlink"> Create a free account </router-link>
		</span>
		<form action="#" method="POST" v-on:submit.prevent="submit">
			<div class="row">
				<div class="col-12">
					<text-field label="Username" v-model="creds.user" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<text-field type="password" label="Password" v-model="creds.pass" />
				</div>
			</div>
			<div class="row">
				<span class="col-sm-6 col-12 vertically-centered-text">
					<router-link :to="forgetlink"> Forgot password? </router-link>
				</span>
				<div class="col-sm-6 col-12">
					<btn type="submit">Sign In</btn>
				</div>
			</div>
		</form>
	</card>
</template>

<script>
import TextField from "./TextField";
import Card from "./Card";
import Btn from "./Btn";

export default {
  name: "login",
  props: {
    registerlink: {
      default: "/register",
      type: String
    },
    forgetlink: {
      default: "",
      type: String
    }
  },
  data() {
    return {
      creds: {
        user: "",
        pass: ""
      }
    };
  },
  components: {
    TextField,
    Btn,
    Card
  },
  methods: {
    submit($event) {
      this.$emit("submit", { event: $event, data: this.creds });
    }
  }
};
</script>

