<template>
	<form action="#" method="GET">
		<div class="row">
			<div v-for="(answer,index) in choises" :key="index" class="col-md-6 col-12">
				<label ref="radio" class="radio" :class="{selected: isActive == index}">
					<span> {{answer}} </span>
					<input type="radio" name="answer" :value=index v-model="isActive" @click="update(index)">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>
	</form>
</template>

<script>
export default {
  name: "mcqans",
  props: {
    choises: {
      type: Array,
      default: function() {
        return ["a", "b", "c", "d"];
      }
    }
  },
  data() {
    return {
      isActive: Number
    };
  },
  methods: {
    update(index) {
      this.$emit("input", index);
    }
  }
};
</script>


<style lang="sass" scoped>
.radio
  border: 1px solid #eee
  background: white
  display: block
  position: relative
  text-align: center
  cursor: pointer
  font-size: 16px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  margin-bottom: 0
  padding: 20px 65px
  span
    font-weight: 400

input[type=radio]
  visibility: hidden;

/* Hide the browser's default radio button */
.container input
  position: absolute
  opacity: 0

/* On mouse-over, add a grey background color */
.radio:hover
  background-color: #7fab67cc
  border-color: #7fab67
  opacity: 0.8
  font-weight: bold
  color: white

.selected
  background: #2196f3
  border-color: #2196f3
  color: white

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after
  content: ""
  position: absolute
  display: none

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after
  display: block

/* Style the indicator (dot/circle) */
.radio .checkmark:after
  left: 37px
  top: 16px
  width: 14px
  height: 28px
  border: solid white
  border-width: 0 6px 6px 0
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)

.mark
  float: right
  display: inline
  font-weight: 600
  background: #f9cf61
  padding: 5px 2px

.col-md-6
  padding: 0
  margin: 0
</style>
