<template>
  <div>
    <h5> Choises </h5>
    <div class="row">
      <div class="col-6 test" v-for="(choise,index) in labels" :key="index">
        <div class="row">
          <div class="col-1 ideal-radio">
            <input @change="update()" class="v-center" type="radio" v-model="ideal" :name="'ans'+id" :value="index">
          </div>
          <div class="col-11">
            <text-field :label="choise" v-model="choises[index]" @input="update()" />
          </div>
        </div>
      </div>
    </div>
    <h6 class="nb"> Edit the choises text and select the ideal answer </h6>
  </div>
</template>

<script>
import textField from "./TextField";

export default {
  name: "mcquest",
  mounted() {
    this.id = this._uid;
  },
  data() {
    return {
      id: Math.random(),
      labels: ["A", "B", "C", "D"],
      choises: ["", "", "", ""],
      ideal: ""
    };
  },
  methods: {
    update() {
      this.$emit("input", {
        mcq: this.choises,
        ideal: this.ideal
      });
    }
  },
  components: {
    "text-field": textField
  }
};
</script>


<style lang="scss" scoped>
.ideal-radio {
  position: relative;
}

.v-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
}

.nb {
  color: rgba(0, 0, 0, 0.55);
}
</style>
