<template>
	<card>
		<header>
			<h1> Question {{number}}
				<div class="new-item-badge">{{score}} Marks</div>
			</h1>
			<h3> {{title}} </h3>
		</header>

		<main>
			<slot></slot>
		</main>
	</card>
</template>

<script>
import Card from "./Card";
export default {
  name: "questionview",
  props: {
    score: {
      type: Number,
      default: 1
    },
    number: {
      type: Number,
      default: 1
    },
    content: ""
  },
  components: {
    card: Card
  },
  data() {
    return {
      title: "Answer the following"
    };
  }
};
</script>

<style lang="sass" scoped>
.my-card
  margin: 20px auto
  padding-bottom: 20px
  position: relative
  max-width: 960px

h1
  font-weight: 600
  font-size: 36px
  margin-bottom: 0

h2
  font-weight: 400
  font-size: 32px
  color: rgba(0,0,0,.7)

h3
  font-weight: 300
  font-size: 18px
  color: rgba(0,0,0,.54)
  margin-bottom: 20px;

p
  font-weight: 400
  font-size: 16px
  line-height: 1.5
  color: #313d38

header
  margin-bottom: 20px

img
  max-width: 100%
  max-height: 300px
  margin-bottom: 20px

.new-item-badge
  margin: 10px;
  background: #92B7BD;
  z-index: 999;
  border-radius: 3px;
  color: #fff;
  padding: 2px 4px 0;
  font-size: 16px
  line-height: 1.4;
  font-weight: 300
  float: right;
</style>
