<template>
  <card>
    <header>
      <div class="action-close" @click="$emit('close', $event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="#292c34"></path>
        </svg>
      </div>
      <h1> Question {{no}}</h1>
    </header>

    <main>
      <text-field @input="emit()" v-model="score" type="number" placeholder="score (default : 1)"></text-field>
      <br>
      <h6> Question Body </h6>
      <wysiwyg @html="emit()" v-model="questionHTML" />
      <hr>
      <div class="answer">
        <code-opt v-if="type == 'code'" @input="emit()" v-model="answer" />
        <mcq v-else-if="type == 'mcq'" @input="emit()" v-model="answer" />
        <essay v-else @input="emit()" v-model="answer" />
      </div>
      <br>
      <btn @click="previewTab()" secondry type="submit">Preview</btn>
      <slot></slot>
    </main>
    <sweet-modal overlay-theme="dark" ref="preview">
      <question-view :name=preview.qNumber :marks=preview.score>
        <div v-html="preview.content"></div>
        <answer-form :choises="preview.choises" :type="preview.type"></answer-form>
      </question-view>
    </sweet-modal>

  </card>
</template>

<script>
import textField from "./TextField";
import Btn from "./Btn";
import Code from "./CodeQuest";
import answer from "./Answer";

import Essay from "./EssayQuest";
import Mcq from "./MCQuest";
import QuestionView from "./QuestionView";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";

import Card from "./Card";
export default {
  name: "question",
  props: {
    type: {
      type: String,
      default: "essay"
    },
    no: {
      type: Number,
      default: 1
    },
    closeEvent: {
      type: Function,
      default: () => {
        console.log("hello");
      }
    }
  },
  event: { close: "close" },
  components: {
    card: Card,
    "code-opt": Code,
    "question-view": QuestionView,
    btn: Btn,
    mcq: Mcq,
    SweetModal,
    SweetModalTab,
    "answer-form": answer,
    essay: Essay,
    "text-field": textField
  },
  data() {
    return {
      answer: {},
      score: "",
      questionHTML: "",
      preview: {
        type: "",
        choises: [],
        qNumber: "",
        content: "",
        score: ""
      }
    };
  },
  methods: {
    previewTab() {
      this.preview.type = this.type;
      this.preview.choises = this.answer.mcq;
      this.preview.score = this.score;
      this.preview.content = this.questionHTML;
      this.preview.qNumber = this.no;
      this.$refs.preview.open("tab1");
    },
    emit() {
      this.$emit("input", {
        choises: JSON.stringify(this.answer.mcq),
        score: parseInt(this.score),
        content: this.questionHTML,
        type: this.type,
        correct_answer: this.answer.ideal,
        qNumber: this.no,
        exam: 2,
        qSubNumber: null,
        title: null
      });
    }
  }
};
</script>

<style lang="sass" scoped>
.my-card
  margin: 0 auto 25px
  padding-bottom: 20px
  position: relative
  max-width: 960px

h1
  font-weight: 600
  font-size: 36px

h2
  font-weight: 400
  font-size: 32px
  color: rgba(0,0,0,.7)

h3
  font-weight: 300
  font-size: 18px
  color: rgba(0,0,0,.54)
  margin-bottom: 20px;

h6
	font-size: 1em
	font-weight: 400
	color: rgba(0, 0, 20, 0.7)

p
  font-weight: 400
  font-size: 16px
  line-height: 1.5
  color: #313d38

header
  height: auto

textarea
  min-hight: 100px

.form-group
	margin-bottom: 0;

.action-close
  z-index: 999
  padding: 0px 10px
  font-weight: 600
  float: right
  cursor: pointer
</style>
