<template>
	<card>
		<h2> Sign Up </h2>
		<span> Already have a Gavel account?
			<router-link :to="loginlink"> Login here! </router-link>
		</span>
		<form action="#" method="POST" v-on:submit.prevent="submit">
			<div class="row">
				<div class="col-sm-6 col-12">
					<text-field label="First Name" v-model="creds.fname" />
				</div>
				<div class="col-sm-6 col-12">
					<text-field label="Last Name" v-model="creds.lname" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<text-field label="User Name" v-model="creds.user" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<text-field type="email" label="E-mail" v-model="creds.email" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-12">
					<text-field type="password" label="Password" v-model="creds.pass" />
				</div>
				<div class="col-sm-6 col-12">
					<text-field type="password" v-model="repass" label="Re-enter Password" />
				</div>
			</div>
			<br>
			<div class="row">
				<span class="col-sm-6 col-12 vertically-centered-text">
					<toggle-button :color="{unchecked: '#7ac2d0'}" :width=148 :height=40 :labels="{checked: 'staff', unchecked: 'member'}" :sync="true" v-model="creds.is_staff" />
				</span>
				<div class="col-sm-6 col-12">
					<btn type="submit">Sign Up</btn>
					<small v-if="error" class="error-text"> {{error}} </small>
				</div>
			</div>
		</form>
		<h6>
			<small> staff member? click on the member switch </small>
		</h6>
	</card>
</template>

<script>
import ToggleButton from "./ToggleButton";
import TextField from "./TextField";
import Card from "./Card";
import Btn from "./Btn";

export default {
  name: "register",
  props: {
    loginlink: {
      default: "/login",
      type: String
	},
	error: ""
  },
  data() {
    return {
      creds: {
        fname: "",
        lname: "",
        user: "",
        email: "",
        pass: "",
        is_staff: false
      },
      repass: ""
    };
  },
  components: {
    ToggleButton,
    TextField,
    Btn,
    Card
  },
  methods: {
    input($event) {
      this.$emit("input", $event);
    },
    submit($event) {
      if (this.creds.pass === this.repass)
        this.$emit("submit", { event: $event, data: this.creds });
      else this.error = "The passwords doesn't match";
    }
  }
};
</script>

