<template>
	<div >
		<div :class="{'paper':paper}">
			<div :class="{'paper-content': paper}">
				<textarea 
        :class="{'dark':dark, 'disabled': disabled, 'disabled--dark': disabled && dark}" 
        ref="textarea" 
        :placeholder="placeholder" 
        :rows="rows" 
        :cols="cols"
        :disabled="disabled"
        @input="update()" 
        v-model="value" 
        autofocus></textarea>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  name: "text-area",
  props:{
	  paper: {
		  default: false,
		  type: Boolean
	  },
	  value: {
		  default: '',
		  type: String
	  },
	  placeholder: {
		  default: '',
		  type: String
	  },
	  rows: {
		  default: 10,
		  type: Number
    },
    cols: {
		  type: Number
	  },
	  dark: {
		  default: false,
		  type: Boolean
    },
    disabled:{
      default: false,
      type: Boolean
    }
  },
  methods: {
    update() {
      this.$emit("input", this.$refs.textarea.value);
    }
  }
};
</script>


<style lang="sass" scoped>


textarea
  height: 72px;
  padding: 6px 10px;
  background-color: #f5f5f5;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  width: 100%;

.dark
  background-color: #263238;
  color: white;

.disabled
  background: repeating-linear-gradient(-55deg,#f5f5f5,#f5f5f5 8px,#E3E3E3 8px,#E3E3E3 16px)
  &--dark
    background: repeating-linear-gradient(-55deg,#263238,#263238 8px,#222 8px,#222 16px) !important

.paper
  position: relative
  width: 100%
  height: 245px
  max-height: 390px
  margin: 0 auto
  background: #fafafa
  border-radius: 10px
  box-shadow: 0 2px 8px rgba(0,0,0,.3)
  overflow: hidden

.paper:before
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 60px
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y
  background-size: 30px 30px
  border-right: 3px solid #D44147
  box-sizing: border-box

.paper-content
  position: absolute;
  top: 30px
  right: 0
  bottom: 30px
  left: 60px
  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px)
  background-size: 30px 30px

.paper-content textarea
  width: 100%
  max-width: 100%
  height: 100%
  max-height: 100%
  line-height: 30px
  padding: 0 10px
  border: 0
  outline: 0
  background: transparent
  color: mediumblue
  font-family: 'Handlee', cursive
  font-size: 20px
  box-sizing: border-box
  z-index: 1
</style>
