<template>
	<div class="form-group">
		<label :for="label">{{label}}</label>
		<input
		ref="input"
		v-bind:value="value"
		:placeholder=placeholder
		:type="type"
		:name="label"
    :disabled="disabled"
		class="form-input"
		:class="{
    'dark': dark, 
    'white': white, 
    'shadow': shadow, 
    'shadow--dark': shadow && dark, 
    'disabled':disabled, 
    'disabled--dark': disabled && dark,
    'disabled--white': disabled && white
    }"
		@input="$emit('input', $event.target.value)"
		required>
	</div>
</template>

<script>
export default {
  name: "text-field",
  props: {
    label: {
      default: "",
      type: String
    },
    value: {
      default: "",
      type: String
    },
    type: {
      default: "text",
      type: String
    },
    required: {
      default: true,
      type: Boolean
    },
    placeholder: {
      default: "",
      type: String
    },
    dark: {
      default: false,
      type: Boolean
    },
    white: {
      default: false,
      type: Boolean
    },
    shadow: {
      default: false,
      type: Boolean
    },
    disabled:{
      default: false,
      type: Boolean
    }
  }
};
</script>

<style lang="sass" scoped>
.form-group
    margin-bottom: 1rem;

.form-input
  font-weight: 100
  border: none
  border-radius: 3px
  font-weight: 400
  font-size: 1em
  line-height: 2
  color: #757575
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #f5f5f5

.disabled
  background: repeating-linear-gradient(-55deg,#f5f5f5,#f5f5f5 8px,#E3E3E3 8px,#E3E3E3 16px)
  &--dark
    background: repeating-linear-gradient(-55deg,#263238,#263238 8px,#222 8px,#222 16px) !important
  &--white
    background: repeating-linear-gradient(-55deg,#fff,#fff 8px,#f5f5f5 8px,#f5f5f5 16px) !important

.dark
  background-color: #263238
  color: white !important

.white
  background-color: #fff
  
.shadow
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05)
  &--dark
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)

label
  color: rgba(0, 0, 20, 0.7)
  display: inline-block
  margin-bottom: .5rem
  font-size: 14px
</style>
