
<template>
	<ul ref="timer" class="gavel-countdown">
		<li v-if="days > 0">
			<p class="digit">{{ days | twoDigits }}</p>
			<p class="text">{{ days > 1 ? 'days' : 'day' }}</p>
		</li>
		<li>
			<p class="digit">{{ hours | twoDigits }}</p>
			<p class="text">{{ hours > 1 ? 'hours' : 'hour' }}</p>
		</li>
		<li>
			<p class="digit">{{ minutes | twoDigits }}</p>
			<p class="text">min</p>
		</li>
		<li>
			<p class="digit">{{ seconds | twoDigits }}</p>
			<p class="text">Sec</p>
		</li>
		<i class="material-icons" style="margin-left:10px; vertical-align: super;">timer</i>
	</ul>
</template>

<script>
let interval = null;
var moment = require("moment");

export default {
  name: "timer",
  props: {
    day: {
      type: Number,
      default: 0
    },
    hr: {
      type: Number,
      default: 1
    },
    min: {
      type: Number,
      default: 0
    },
    sec: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      deadline: moment.duration({
        seconds: this.sec,
        minutes: this.min,
        hours: this.hr,
        days: this.day
      })
    };
  },
  computed: {
    seconds() {
      return this.deadline.seconds();
    },
    minutes() {
      return this.deadline.minutes();
    },
    hours() {
      return this.deadline.hours();
    },
    days() {
      return this.deadline.days();
    }
  },
  filters: {
	// change unit digits to tenth like 9 to 09
    twoDigits(value) {
      if (value.toString().length <= 1) {
        return "0" + value.toString();
      }
      return value.toString();
    }
  },
  created() {
    new Promise((resolve, reject) => {
      interval = setInterval(() => {
		// subtract a second till the time ends
        this.deadline.subtract(1, "seconds");
        if (
          this.deadline.seconds() <= 0 &&
          this.deadline.minutes() == 0 &&
          this.deadline.hours() == 0 &&
          this.deadline.days() == 0
        )
          resolve(interval);
      }, 1000);
    })
      .then(clearInterval)
      .then(() => (this.deadline = moment.duration()));
  },
  destroyed() {
    clearInterval(interval);
  }
};
</script>

<style lang="scss" scoped>
.gavel-countdown {
  padding: 6px;
  margin: 0;

  .digit {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
  }

  .text {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 9px;
  }

  li {
    display: inline-block;
    margin: 0 8px;
    text-align: center;
    position: relative;

    p {
      margin: 0;
    }
  }

  li:after {
    content: ":";
    position: absolute;
    top: 0;
    right: -13px;
    font-size: 24px;
  }

  li:first-of-type {
    margin-left: 0;
  }

  li:last-of-type {
    margin-right: 0;
  }

  li:last-of-type:after {
    content: "";
  }
}
</style>
