<template>
	<header class="hoverEffect" :class="{'dark':dark}" :style="{backgroundColor: bgcolor}">
		<div class="container">
			<div class="inline-title">
				<i v-if="icon" @click="$emit('icon-click', $event)" class="material-icons" :style="{color: titlecolor}">{{icon}}</i>

				<router-link :to="dest" v-if="title">
					<span :class="{'center-title': centertitle}" :style="{color: titlecolor}"> {{title}} </span>
				</router-link>
			</div>
			<slot />
		</div>
	</header>
</template>

<script>
export default {
  name: "top-header",
  props: {
    title: {
      type: String,
      default: ""
    },
    icon: {
      type: String,
      default: ""
    },
    bgcolor: {
      type: String,
      default: "#fff"
    },
    titlecolor: {
      type: String,
      default: "#79a3a8"
    },
    dark: {
      type: Boolean,
      default: false
    },
    dest: {
      type: String,
      default: "#"
    },
    centertitle: {
      type: Boolean,
      default: false
    }
  }
};
</script>


<style lang="scss" scoped>
header {
  height: 66px;
  .container {
    height: 66px;
    padding: 8px;
  }
}

.dark {
  background: #263238 !important;
  color: #fff !important;
}

.inline-title {
  font-size: 2.2em;
  padding: 12px;
  display: inline-block;
  margin: 0;
  padding: 0 60px;
  
  span {
    cursor: pointer;
  }

  i {
    margin-right: 20px;
    font-size: 39px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    left: 33px;
    bottom: 12px;
  }
}

.center-title {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 47%;
}

.hoverEffect {
  position: relative;
}
.hoverEffect:before,
.hoverEffect:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 75%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.hoverEffect:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
</style>
