<template>
	<card @logout="logoutListner" style="max-width: 320px" class="text-center">
		<img src="https://picsum.photos/600" class="img-responsive img-avatar" alt="">
		<div class="mt-3 mb-2">
			<h3 class="m-0"> {{user.first_name}} {{user.last_name}} </h3>
			<h6> {{user.email}} </h6>
		</div>
		<br>
		<btn secondry @click="$emit('logout',$event)" ref="logoutBtn">logout</btn>
	</card>
</template>

<script>
import card from "./Card";
import btn from "./Btn";
export default {
  name: "user-card",
  components: {
    card,
    btn
  },
  props: {
    user: {
      default() {
        return {
          avatar: "https://picsum.photos/600",
          first_name: "Lil",
          last_name: "Wayne",
          email: "lil.wayne@gmail.com"
        };
      },
      type: Object
    }
  },
  methods: {
    logoutListner($event) {
      return $event;
    }
  }
};
</script>
